# Log files
server.log

# SQLite database
*.db
*.db-shm
*.db-wal

# Instance folder
instance/

# macOS specific
.DS_Store

# Python virtual environment
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
